body {
  background-color: rgb(96, 94, 94);
}

/* creates card borders */
#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

/* sets the intro container with the heading start button and scores to flex */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* sets the restat button container to flex */
.ending {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2em;
}

h2 {
  margin: 5px 20px;
}

/* changes style of both the start and restart buttons */
.button {
  display: inline-block;
  width: fit-content;
  background-color: rgb(217, 201, 201);
  border: solid black 
}


/* creates border for the score and attempts boxes */
.scores {
  border: 2px solid black;
  padding: 5px 10px; 
  display: inline-block;
  width: fit-content;
  margin-bottom: 10px;
  
}

/* aligns the score and attempts boxes  */
.score-container {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  margin-right: 50px;
}


